<body style= "background-color: #c2c2a3;">

<center>

<h1>
Student <%=fname%> <%=lname%>  <br><br>
First choice <%=first_choice%><br>
Second choice <%=second_choice%><br>
Third choice <%=third_choice%><br>
Fourth choice <%=fourth_choice%><br>

Do you wish to make changes or submit your choices <br>

<h/1>
 <form method ="post" action ="/submit_form">
    <input type ="text" name ="navi" style ="text_transform:uppercase" autofocus>   
    <input type ="text" name = "user_fname" value = <%=fname%> hidden >	 
    <input type ="text" name = "user_lname" value = <%=lname%> hidden>
    <input type ="text" name ="user_fchoice" value = <%=first_choice%> hidden>
    <input type ="text" name ="user_schoice" value = <%=second_choice%> hidden>
    <input type ="text" name ="user_tchoice" value =<%=third_choice%> hidden>
    <input type ="text" name ="user_lchoice" value = <%=fourth_choice%> hidden>
    <input type = "submit">
</form>

</center>

 </body>
