<body style= "background-color: #c2c2a3;">

<center>

<h1>
Student <%=fname%> <%=lname%>  <br><br>
First choice <%=first_choice%><br>
Second choice <%=second_choice%><br>
Third choice <%=third_choice%><br>
Fourth choice <%=fourth_choice%><br>

Do you wish to make changes or submit your choices <br>

<h/1>
 <form method ="post" action ="/submit_form">
    <input type ="text" name ="submit_form" style ="text_transform:uppercase" autofocus>    
    <input type = "submit">
</form>

</center>

 </body>
