<body style= "background-color: #c2c2a3;">

<center>

 Hello <%=fname%> <% =lname%><br>

    Your first program choice was <%=first_choice%> 
    Your second program choice was <%=second_choice%>
    Your third program choice was <%=third_choice%>
    Your fourth program choice was <%=fourth_choice%>


Do you wish to keep these choices or submit <br>
</center>


 </body>
